{% extends "question/base.html" %}
{% block title %}Ответ{% endblock %}
{% block content %}
<h1>{{ question.question }}</h1>
{% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
<form action="{% url 'voted' question.id %}" method="post">
{% csrf_token %}
{% for choice in question.choice_set.all %}
    <input type="radio" name="choice" id="choice{{ forloop.counter }}" value="{{ choice.id }}" />
    <label for="choice{{ forloop.counter }}">{{ choice.choice }}</label><br />
{% endfor %}
<button type="submit">Жмакать сюда!</button>
</form>
{% endblock %}
